@{
    ViewBag.Title = "Index Page";
}

<h2>Resultado</h2>

<a asp-controller="Home" asp-action="Query1">
    <input type="button" value="Pregunta 1" />
</a>
<br />
<br />
<a asp-controller="Home" asp-action="Query2">
    <input type="button" value="Pregunta 2" onclick="Home/Query2" />
</a>
<br />
<br />
<a asp-controller="Home" asp-action="Query3">
    <input type="button" value="Pregunta 3" onclick="Home/Query3" />
</a>
<br />
<br />
<a asp-controller="Home" asp-action="Query4">
    <input type="button" value="Pregunta 4" onclick="Home/Query4" />
</a>
<br />
<br />
<a asp-controller="Home" asp-action="Query5">
    <input type="button" value="Pregunta 5" onclick="Home/Query5" />
</a>
<br />
<br />
<a asp-controller="Home" asp-action="Query6">
    <input type="button" value="Pregunta 6" onclick="Home/Query6" />
</a>
<br />
<br />
<a asp-controller="Home" asp-action="Query7">
    <input type="button" value="Pregunta 7" onclick="Home/Query7" />
</a>
