@model MongoDBConnection.Models.Query

@{
    ViewData["Title"] = "Resultado";
}

<strong>Resultado de la busqueda</strong> :  @Model.resultado
<br />
<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>

